apiVersion: v1
kind: Service
metadata:
  name: llamacpp-svc
  namespace: {{ .Namespace }}
spec:
  type: NodePort
  selector:
    app: llamacpp
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    nodePort: {{ .NodePort }}
