apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  type: NodePort
  selector:
    app: {{ .Name }}
  ports:
    - port: {{ .Port }}
      targetPort: {{ .Port }}
      nodePort: {{ .NodePort }}
