apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  type: NodePort
  selector:
    app: {{ .Name }}
  ports:
    - port: 11434
      targetPort: 11434
      nodePort: {{ .NodePort }}
