apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .DeploymentName }}-cache
  namespace: {{ .Namespace }}
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: {{ .CacheGiB }}Gi
